* {
   margin: 0;
   padding: 0;
}

.cabecalho{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0725ad;
}

.cartao{
    width: 260px ;
    height: 200px;
}

.cartao-frente, .cartao-verso{
    width: 260px;
    height: 200px;
}

.cartao-imagem{
    width: 260px;
    height: 200px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f1f1f1;
}

main {
    flex: 1;
}

.cabecalho-link {
    color: #e3e4e9;
    text-decoration: none;   
}

h1 {
    color:#e3e4e9
}
 
footer {
    background-color: #0725ad;
}