* {
   margin: 0;
   padding: 0;
}

.cabecalho{
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0725ad;
}

.cartao{
    width: 260px ;
    height: 200px;
}

.cartao-frente, .cartao-verso{
    width: 260px;
    height: 200px;
    position: absolute;
}

.cartao-imagem{
    width: 260px;
    height: 200px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f1f1f1;
}

main {
    flex: 1;
}

.cabecalho-link {
    color: #e3e4e9;
    text-decoration: none;   
}

h1 {
    color:#e3e4e9;
    font-family: 27px;
}
 
footer {
    background-color: #0725ad;
    padding: 20px 25px;
    color: #e3e4e9;
}

.carta0-interno {
    position: relative;
    transition: transform 0.8s;
} 

.cartao:hover .carta0-interno{
    transform: rotateY(180deg);
}
 
.cartao-frente, .cartao-verso {
    position: relative;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    backface-visibility: hidden;
}

.cartao-verso{
    transform: rotateY(180deg);
}